@use '../abstracts' as *;

.board {
  display: grid;
  gap: 10px;
  margin-top: 16px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $gap;
}

.tile {
  height: $tile-size;
  border: 2px solid $border;
  border-radius: $radius;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  @include center;

  &--correct {
    background: $correct;
    color: white;
    border-color: transparent;
  }
  &--present {
    background: $present;
    color: white;
    border-color: transparent;
  }
  &--absent {
    background: $absent;
    color: white;
    border-color: transparent;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
}

.row--shake {
  animation: shake 0.5s ease;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  49% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.tile {
  perspective: 800px;
  transform-style: preserve-3d;

  &--flip {
    animation: flip 600ms ease;
  }
}
