@use '../abstracts' as *;

.app {
  max-width: $max-width;
  margin: 24px auto;
  padding: 16px;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  h1 {
    margin: 0;
    font-size: 20px;
  }
  button {
    border: 0;
    padding: 8px 12px;
    border-radius: 10px;
    background: $key-bg;
    font-weight: 700;
    cursor: pointer;
  }
}

.message {
  margin-top: 12px;
}
